:host {
    display: flex;
    justify-content: center;
    margin: 5% 0px;
  }

  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }

  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }

  .button {
    display: flex;
    justify-content: flex-end;
  }

  .paddingTen {
    padding: 10px;
  }

  .buttonLogin {
    width: 94%;
    height: 5em;
    background-color: #32cccc;    
  }

  .a-juntos{
    text-decoration: none;
    color: #a67ff3;
    cursor: pointer;
  }

  .left-5{
    margin-left: 5%;
  }

  .aling-left{
    float: left;
    font-size: 1.4em;
  }

  .aling-right{
    float: right;    
    margin-top: 5px;
  }

  .bottom-card-juntos{
    background-color: #f2f6f8;
    padding: inherit;
  }